<h2>Fridge Inventory for <%= "#{@user.firstname} #{@user.lastname}" %></h2>

<a href="/logout">Sign Out</a>
<br><br>
<form action="/lists/new" method="GET">
    <button>Create New List</button>
</form>
<br>
<ul>
    <% @user.lists.order(date: :desc).each do |list| %>
    <li>
        <a href=<%= "/lists/#{list.id}" %>><%= list.date %> - <%= list.title %></a>
        <form action=<%= "/lists/#{list.id}/edit" %> method="GET" style="display: inline">
            <input type="submit" value="Edit">
        </form>
    </li>
    <% end %>
</ul>
