<h2>Refrigerator Inventory for <%= "#{@user.firstname} #{@user.lastname}" %></h2>

<form action="/logout" method="GET">
    <button>Sign out</button>
    <br><br>
    <button formaction="/lists/new">Create a new list</button>
</form>
<br>
<ul>
    <% @user.lists.each do |list| %>
    <li>
        <a href=<%= "/lists/#{list.id}" %>><%= list.date %> - <%= list.title %></a>
        <form action=<%= "/lists/#{list.id}/edit" %> method="GET" style="display: inline">
            <input type="submit" value="Edit">
        </form>
    </li>
    <% end %>
</ul>

