<h2>Edit <%= @item.name %></h2>

<form action=<%= "/items/#{@item.id}" %> method="POST" style="display: inline">
    <input type="hidden" name="_method" value="PATCH">
    <label for="name">Item Name: </label>
    <input type="text" name="item[name]" value="<%= @item.name %>">
    <label for="quantity">Quantity: </label>
    <input type="number" name="item[quantity]" min="1" style="width: 3em" value="<%= @item.quantity %>">
    <br><br>
    <input type="submit" value="Done">
</form>

<form action=<%= "/items/#{@item.id}" %> method="POST" style="display: inline">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>